<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
</head>
<body>
    <h1>Simple Todo App</h1>

    <form action="/create-todo" method="post">
        <input type="text" name="item" placeholder="Enter a new todo" required>
        <button type="submit">Add</button>
    </form>

    <h2>Todo List:</h2>
    <ul>
         {% for todo in todos %}
            <li>
                {{ todo.task }} - Due: {{ todo.due }}
                a href="/edit/{{ todo.id }}">✏️</a>
                <a href="/delete/{{ todo.id }}">❌</a>
            </li>
        {% endfor %}for %}
    </ul>
</body>
</html>